In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data_path='/Users/agaly/OneDrive/Desktop/test.csv'
df=pd.read_csv('/Users/agaly/OneDrive/Desktop/test.csv')

In [16]:
print(df.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [17]:
print(df.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
df_clean=df.dropna()
print(df_clean.head())

    PassengerId  Pclass                                               Name  \
12          904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
14          906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
24          916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
26          918       1                       Ostby, Miss. Helene Ragnhild
28          920       1                            Brady, Mr. John Bertram

       Sex   Age  SibSp  Parch       Ticket      Fare            Cabin  \
12  female  23.0      1      0        21228   82.2667              B45
14  female  47.0      1      0  W.E.P. 5734   61.1750              E31
24  female  48.0      1      3     PC 17608  262.3750  B57 B59 B63 B66
26  female  22.0      0      1       113509   61.9792              B36
28    male  41.0      0      0       113054   30.5000              A21

   Embarked
12        S
14        S
24        C
26        C
28        S